[Unit]
Description=Periodically set Steam launch options for newly installed games

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
